* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
  position: fixed;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 25px;
}
.logo {
  font-family: "Risque", cursive;
  color: white;
  font-size: 1.8em;
}
.collections {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
#collections {
  padding: 1.5em;
}
a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding-bottom: 5px;
  font-family: "Quattrocento", serif;
}
#collections a:hover {
  border-bottom: 5px solid white;
}
.ar {
  margin-right: 10px;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 50px;
}
.ar:hover {
  color: black;
  background-color: white;
}
.ar a:hover {
  color: black;
}
.landing {
  padding: 0 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg1.jpg");
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Exo", sans-serif;
}
.container {
    filter: brightness(50%);
}
.landing p {
  color: white;
  font-size: 4.5em;
  width: 50%;
}
.landing p {
  animation: 1s ease-out 0s 1 slideIn;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* caraousel */
.gallery {
  width: 100%;
  background-color: black;
  /* display: flex;
  flex-direction: row; */
}
.gallery-container {
  align-items: center;
  display: flex;
  height: 70vh;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.gallery-item {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item-1 {
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 300px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item-3 {
  height: 400px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  z-index: 2;
}

.gallery-item-5 {
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: white;
}

.gallery-controls button {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
}

.gallery-controls button:focus {
  outline: none;
  background-color: white;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}